body{
    background-color: #305276 !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: greenyellow !important;
}
.card-text.green{
    color: rgb(15, 233, 15);
}
.card-text.orange{
    color: rgb(253, 166, 4);
}
.card-text.red{
    color: rgb(176, 19, 19);
}
.card{
    height: 620px !important;
    background-color: #032541 !important;
    transition: 0.5s ease-in-out;
}
.card-body h5{
    color: white;
    margin-top: 10px;
}
.card img{
    border-bottom-left-radius: 50px 20px;
}
.card:hover{
    transform: scale(1.1);
}
.page-link{
    background-color: #032541 !important;
    color: white !important;
}